<br/>
 <table  align="center" width="60%">
   <td>
  <fieldset><legend><font  size=5> UNIDADES</font></legend>
  <font  size="2">
    <p align="left">
      <b>Nome:</b>
       <%=h @unidades.nome %>
    </p>
    <p align="left">
       <b>Endereco:</b>
       <%=h @unidades.endereco %>
    </p>
    <p align="left">
      <b>Num:</b>
      <%=h @unidades.num %>
    </p>
    <p align="left">
      <b>Complemento:</b>
      <%=h @unidades.complemento %>
    </p>
    <p align="left">
      <b>Bairro:</b>
      <%=h @unidades.bairro %>
    </p>
       <p align="left">
      <b>Fone:</b>
      <%=h @unidades.fone %>
    </p>
    <p align="left">
      <b>Ensino:</b>
      <%=h @unidades.tipo.nome %>
    </p>
    <p align="left">
      <b>Email:</b>
      <%=h @unidades.email %>
    </p>
    <p align="left">
      <b>Diretor:</b>
      <%=h @unidades.diretor %>
    </p>
    <p align="left">
      <b>Coordenador:</b>
      <%=h @unidades.coordenador %>
    </p>
    <p align="left">
      <b>Obs:</b>
      <%=h @unidades.obs %>
    </p>
        <p align="left">
      <b>Estagiários:</b>
         <% @unidades.estagiarios.each do |est| %>
           <% if (est.desligado == 0) then%>
            <%=h est.nome %> (<%=h est.periodo_trab%>)
          <%else%>
             Unidade sem estagiário
          <%end%>
        <%end%>
    </p>
    <br/>
   </font>
  </fieldset>
 </td>
</table>
 <div class="botao">
<table width="60%" align="center">
    <tr>
     <td align="left" width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"} %></td>
     <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
       <td align="left" width="8%"> <%= button_to('Editar', {:action => "edit", :id => @unidades}, :method => "get") %></td>
       <td align="left" width="8%"> <%= button_to 'Cadastrar', new_unidade_path %></td>
     <%end%>
     <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
    </tr>
</table>
</div>