<br/>
 <table  align="center" width="100%">
  <td>
  <fieldset><legend><font  size=5> EQUIPAMENTOS SEDUC</font></legend>
   <br/>
   <div class="botao">
   <table width="100%">
    <tr>
     <td width="8%" align="left"><%= button_to 'Cadastrar', new_seduc_path %></td>
     <td width="8%" align="left"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
     <td width="8%" align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
     <td align="right">
       <div class="botao">
         <table>
        <tr>
        <% form_tag seducs_path, :method => 'get' do %>
        <td align="right"><font size="4"> Digite Departamento:</font>
           <%= text_field_tag :search, params[:search] %>
           <%= submit_tag "Filtrar", :name => nil %>
        </td>
        <% end %>
        </tr>
     </table>
     </div>
     </td>
   </tr>
  </table>
  <br/>
  </div>
    <font  size="2">
    <table border="2" width="100%">
    <% for seduc in @seducs %>
     <tr>
        <th bgcolor="gray">Departamento</th>
        <th colspan="2"bgcolor="gray">Servidor</th>
        <th colspan="2" bgcolor="gray">Rede</th>

      </tr>
    <tr>
      <td><%=h seduc.departamento.depto %></td>
      <td colspan="2"><%=h seduc.servidor %></td>
       <td colspan="2"><%=h seduc.rede %></td>
    </tr>
    <tr>
        <th rowspan="4" ></th>
        <th colspan="2"bgcolor="gray">Internet</th>
        <th colspan="2" bgcolor="gray">Observções</th>
    </tr>
    <tr>
      <td colspan="2"> <%=h seduc.internet %></td>
      <td colspan="2"><%=h seduc.obs %></td>
    </tr>
    <tr>
        
        <th bgcolor="gray">NºComp</th>
        <th bgcolor="gray">Computador</th>
        <th bgcolor="gray">NºImp</th>
        <th bgcolor="gray">Impressora</th>
     </tr>
     <tr>

      <td><%=h seduc.num_comp %></td>
      <td><%=h seduc.computador %></td>
      <td><%=h seduc.num_imp %></td>
      <td><%=h seduc.impressora %></td>
     </tr>
    <tr>
  
     <td colspan="12">
        <div class="botao">
        <table>
           <td><%= button_to('Exibir',{:action => "show", :id =>seduc}, :method => "get") %></td>
           <td> <%= button_to('Editar',{:action => "edit", :id =>seduc}, :method => "get") %></td>
           <td><%= button_to('Excluir',{:action => "destroy", :id =>seduc}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
        </table>
        </div>
       </td>
    </tr>
    <% end %>
    </table>
   </font>
  </fieldset>
  </table>
  <div class="botao">
   <table width="100%" align="center">
    <tr>
     <td width="8%"><%= button_to 'Cadastrar', new_seduc_path %></td>
      <td width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
      <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>

    </tr>
  </table>
  </div>



