<br/>
<br/>
<table width="50%"align="center">
<tr>
<td>
<fieldset><legend><font  size=5> ESTOQUE INFORMÁTICA</font></legend>
<% form_for(@estoques) do |f| %>
<%= f.error_messages %>
<font  size="2">
<table width="100%">
  <tr>
    <td width="10%" align="left"><b>Produto:</b></td>
    <td align="left"><%=h @estoques.componente.nome %></td>
  </tr>
  <tr>
     <td align="left"><b>Especificação:</b></td>
     <td align="left"><%=h @estoques.especifica%>
  </tr>
  <tr>
    <td align="left"><b> Saldo:</b></td>
    <td align="left"> <%=h @estoques.saldo%>
  </tr>
  <tr>
    <td align="left"><b>Observação:</b></td>
    <td align="left"><%=h @estoques.obs %></td>
  </tr>
   <%end%>
  <div class="botao">
     <table>
      <tr>
       <td align="left" width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"} %></td>
       <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
      </tr>
    </table>
   </div>


 </table>
 </font>
</fieldset>

</td>
</tr>
</table>
<br/>
 

