<h1>Listing departamentos</h1>

<table>
  <tr>
    <th>Depto</th>
  </tr>

<% for departamentos in @departamentos %>
  <tr>
    <td><%=h departamentos.depto %></td>
    <td><%= link_to 'Show', departamentos %></td>
    <td><%= link_to 'Edit', edit_departamento_path(departamentos) %></td>
    <td><%= link_to 'Destroy', departamentos, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New departamentos', new_departamento_path %>
