<br/>
<br/>
<table width="50%"align="center">
<tr>
<td>
<fieldset><legend><font  size=5> LANÇAMENTO DE SAIDA</font></legend>
<% form_for(@saidas) do |f| %>
<%= f.error_messages %>
<font  size="2">
<table width="100%">
  <tr>
    <td width="30%" align="left"><b>Componente:</b></td>
    <td align="left"><%=h @saidas.estoque.nome %></td>
  </tr>
  <tr>
     <td align="left"><b>Especificação:</b></td>
   <td align="left"><%=h @saidas.estoque.especifica %></td>
  </tr>
  <tr>
    <td align="left"><b>  Quem retirou:</b></td>
    <td align="left"> <%=h @saidas.estagiario.nome%>
  </tr>
  <tr>
    <td align="left"><b>Quantidade:</b></td>
    <td align="left"> <%=h @saidas.quantidade%>
  </tr>
  <tr>
    <td align="left"><b> Data:</b></td>
    <td align="left"> <%=h @saidas.data_saida.strftime("%d de %B de %Y")  %>
  </tr>
  <tr>
    <td align="left"><b> Destino:</b></td>
    <td align="left"> <%=h @saidas.unidade.nome%>
  </tr>
  <tr>
    <td align="left"><b>Observação:</b></td>
    <td align="left"><%=h @saidas.obs %></td>
  </tr>
  <tr>
    <td align="left"><b> Data Lançamento:</b></td>
    <td align="left"> <%=h @saidas.created_at.strftime("%d de %B de %Y")  %>
  </tr>
    <tr>
    <td align="left"><b> Data Alteração:</b></td>
    <td align="left"> <%=h @saidas.updated_at.strftime("%d de %B de %Y")  %>
  </tr>

 </table>
 </font>
</fieldset>
 <%end%>
</td>
</tr>
</table>
 <div class="botao">
   <table width="50%" align="center">
    <tr>
     <td align="left" width="8%"><%= button_to 'Voltar', saidas_path, {:method => "get"} %></td>
     <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
    </tr>
  </table>

 </div>

