<h1>Listing tipos</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>

<% for tipos in @tipos %>
  <tr>
    <td><%=h tipos.nome %></td>
    <td><%= link_to 'Show', tipos %></td>
    <td><%= link_to 'Edit', edit_tipo_path(tipos) %></td>
    <td><%= link_to 'Destroy', tipos, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tipos', new_tipo_path %>
