
 <table  align="center" width="100%">
  <td>
  <fieldset><legend><font  size=5> IMPRESSORAS</font></legend>
   <br/>
   <div class="botao">
   <table width="100%">
    <tr>
     <td align="left" width="6%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
     <td align="left" width="6%"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>

      <td align="right">
       <div class="botao">
       <table>
         <tr>
            <% form_tag impressoras_path, :method => 'get' do %>
            <td align="right"><font size="4"> Unidade:</font>

                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Filtrar", :nome => nil %>
             <% end %>
            </td>

        </tr>
      </table>
     </div>
     </td>
     </tr>
  </table>
  <br/>
  </div>
   <table align="center" width="100%">

    <tr>
      <td valign="top" width="50%">
        <fieldset><legend><font  size=5> Cadastrados</font></legend>
         <table border="2" width="100%">
          <tr><td>
           <font  size="2">
            <table border="2" width="100%">
              <%$imp = 0%>
              <% @impressoras.each do |impressora| %>
                <tr>
                    <th bgcolor="gray">Unidade</th>
                    <th bgcolor="gray">Tipo Controle</th>
                    <th bgcolor="gray">Quantidade</th>
                    <th bgcolor="gray">Configuração</th>
                    <th bgcolor="gray">Usuário</th>
                    <%if impressora.tipo_controle.nome == 'TERCEIROS'%>
                      <th bgcolor="gray">Pertence</th>
                      <th bgcolor="gray">Contato</th>
                    <%else%>
                      <th bgcolor="gray">Nº Patrimônio</th>
                    <%end%>
                </tr>
                <tr>
                    <td align="left"><%=h impressora.unidade.nome %></td>
                    <td align="left"><%=h impressora.tipo_controle.nome %></td>
                    <td align="center"><%=h impressora.quant %></td>
                    <td align="left"><%=h impressora.config %></td>
                    <td align="left"><%=h impressora.user %></td>
                    <%if impressora.tipo_controle.nome == 'TERCEIROS'%>
                      <td align="left"><%=h impressora.pertence %></td>
                       <td align="left"><%=h impressora.contato %></td>
                     <%else%>
                       <td align="left"><%=h impressora.pat %></td>
                      <%end%>
               </tr>
               <%$imp = $imp + impressora.quant%>
               <tr>
                <td colspan="7">
                <div class="botao">
                  <table>
                    <td><%= button_to('Exibir',{:action => "show", :id =>impressora}, :method => "get") %></td>
                    <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
                       <td> <%= button_to('Editar',{:action => "edit", :id =>impressora}, :method => "get") %></td>
                       <% if current_user.has_role?('administrador')%>
                          <td><%= button_to('Excluir',{:action => "destroy", :id =>impressora}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
                       <%end%>   
                    <%end%>
                  </table>
                </div>
               </td>
            </tr>
              <% end %>
             <tr>
               <td align="left"colspan="7"><font color="black">Total de Impressoras Cadastradas  => <%=  $imp%></font></td>
             </tr>

            </table>
           </font>

          </td></tr>
         </table>
        </fieldset>
      </td>
     </table>
   </fieldset>
  </td>
</table>
 <div class="botao">
   <table width="100%">
    <tr>
      <td width="6%" align="left"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
      <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
    </tr>
  </table>
  </div>
<br/>

