<h1>Listing situacao_chamados</h1>

<table>
  <tr>
    <th>Situacao</th>
  </tr>

<% for situacao_chamados in @situacao_chamados %>
  <tr>
    <td><%=h situacao_chamados.situacao %></td>
    <td><%= link_to 'Show', situacao_chamados %></td>
    <td><%= link_to 'Edit', edit_situacao_chamados_path(situacao_chamados) %></td>
    <td><%= link_to 'Destroy', situacao_chamados, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New situacao_chamados', new_situacao_chamados_path %>
