<br/>
<font size="2">
<table width="50%"align="center">
<tr>
<td>
 <fieldset><legend><font  size=5> FORNECEDORES</font></legend>
 <table width="100%">
  <tr>
    <td align="left" width="20%"><b>Nome:</b></td>
    <td align="left"><%=h @fornecedores.nome %></td>
  </tr>
  <tr>
    <td align="left"><b>Endereço:</b></td>
    <td align="left"><%=h @fornecedores.endereco %> Nº<%=h @fornecedores.num %></td>
  </tr>
  <tr>
    <td align="left"><b>Complemento:</b></td>
    <td align="left"><%=h @fornecedores.complemento %></td>
  </tr>
  <tr>
    <td align="left"><b>Fone:</b></td>
    <td align="left"><%=h @fornecedores.fone%></td>
  </tr>
  <tr>
    <td align="left"><b>Celular:</b></td>
    <td align="left"><%=h @fornecedores.cel %></td>
  </tr>
  <tr>
    <td align="left"><b>E_mail:</b></td>
    <td align="left"><%=h @fornecedores.email %></td>
  </tr>
  <tr>
    <td align="left"><b>Contato:</b></td>
    <td align="left"><%=h @fornecedores.contato %></td>
  </tr>
  <tr>
    <td align="left"><b>Tipo Serviço:</b></td>
    <td align="left"><%=h @fornecedores.tipo_servico %></td>
  </tr>
  <tr>
    <td align="left"><b>Aval:</b></td>
    <td align="left"><%=h @fornecedores.aval %></td>
  </tr>
  <tr>
    <td align="left" valign="top"><b>Observações:</b></td>
    <td align="left"><%=h @fornecedores.obs %></td>
  </tr>
   <div class="botao">
     <table width="40%" align="left">
          <tr>
           <td align="left" width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"} %></td>
           <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
             <td align="left" width="8%"> <%= button_to('Editar', {:action => "edit", :id =>  @fornecedores}, :method => "get") %></td>
           <%end%>
           <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
          </tr>
     </table>
  </div>
 </table>
</fieldset>
</td>
</tr>
</table>
</font>
<br/>





