
 <table  align="center" width="100%">
  <td>
  <fieldset><legend><font  size=5> Cadastrados</font></legend>
   <div class="botao">
   <table width="100%">
    <tr>
      <td align="left" width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
     <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
   </tr>
  </table>
  <br/>
  </div>
    <font  size="2">
    <table border="2" width="100%">

     <% for administracaos in @administracao %>
      <tr>
        <th bgcolor="gray">Unidade</th>
         <th bgcolor="gray">Pertence</th>
        <th bgcolor="gray">Servidor</th>
        <th bgcolor="gray">Rede</th>
        <th bgcolor="gray">Internet</th>
        <th bgcolor="gray">Obs</th>
      </tr>
      <tr>

       <td><%=h administracaos.unidade.nome %></td>
       <td><%=h administracaos.tipo_controle.nome %></td>
       <td><%=h administracaos.servidor %></td>
       <td><%=h administracaos.rede %></td>
       <td><%=h administracaos.internet %></td>
       <td><%=h administracaos.obs %></td>
     </tr>

    <tr>
      <td colspan="6">
        <div class="botao">
        <table>
           <td><%= button_to('Exibir',{:action => "show", :id =>administracaos}, :method => "get") %></td>
          <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
            <td> <%= button_to('Editar',{:action => "edit", :id =>administracaos}, :method => "get") %></td>
           <% if current_user.has_role?('administrador')%>
               <td><%= button_to('Excluir',{:action => "destroy", :id =>administracaos}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
           <%end%>
          <%end%>
        </table>
        </div>
       </td>
    </tr>
    <% end %>
   </table>
   </font>
  </table>

