<br/>
<fieldset><legend><font  size=5> EQUIPAMENTOS ADMINISTRAÇÃO</font></legend>
<% form_for(@administracaos) do |f| %>
<%= f.error_messages %>
<font  size="2">
<table width="100%"  >
  <tr>
   <td>
     <table>
        <tr>
          <td width="20%"align="left" ><b>Unidade:</b></td>
          <td width="20%"align="left"> <%= f.collection_select :unidade_id, @unidades, :id, :nome, :include_blank => ' -- Selecione -- ' %>
              <%= observe_field 'administracao_unidade_id',
              :with => :administracao_unidade_id,
               :url => { :action => 'unidade_nome' } %> </td>
           <td align="left"><div id='nome_unidade'></div><div id='nome_aviso'></div></td>

         </tr>
     </table>
   </td>
  </tr>
   <tr>
    <td width="50%" align="center">
     <fieldset><legend><font  size=4> Pertencentes à SEDUC</font></legend>
     <table>
       <tr>
         <td align="left"><b> Servidor:</b></td>
         <td><%= f.text_field :servidor, :size=>50 %></td>
       </tr>
       <tr>
         <td align="left"><b> Rede:</b></td>
         <td><%= f.text_field :rede, :size=>50 %></td>
       </tr>
       <tr>
         <td align="left"><b> Internet:</b></td>
         <td><%= f.text_field :internet, :size=>50 %></td>
       </tr>
       <tr>
         <td colspan="2">
            <fieldset><legend><font  size=3>Computadores</font></legend>
             <table>
             <tr>
               <td align="left"><b>Quantidade</b></td>
               <td align="left"><%= f.text_field :num_comp_seduc, :size => 4 %></td>
            </tr>
            <tr>
              <td align="left" valign="top"><b>Configuração Computadores:</b></td>
              <td align="left"><%= f.text_area(:config_comp_seduc, :cols =>30, :rows => "7") %></td>
           </tr>
           </table>
          </fieldset>
         </td>
       </tr>
       <tr>
          <td colspan="2">
            <fieldset><legend><font  size=3>Impressoras</font></legend>
             <table>
             <tr>
               <td align="left"><b>Quantidade</b></td>
               <td align="left"><%= f.text_field :num_imp_seduc, :size => 4 %></td>
            </tr>
            <tr>
              <td align="left" valign="top"><b>Configuração Impressoras:</b></td>
              <td><%= f.text_area(:config_imp_seduc, :cols =>30, :rows => "4") %></td>
           </tr>
           </table>
          </fieldset>
          </td>

       </tr>
           <td align="left"><b>Observações</b></td>
           <td><%= f.text_area(:obs, :cols =>38, :rows => "2") %></td>

       <tr>
       </tr>



     </table>
    </fieldset>
   </td>
   <td width="50"valign="top" align="center">
    <table>
      <tr valign="top">
        <td width="50%" align="center">
          <fieldset><legend><font  size=4> Não pertencentes SEDUC</font></legend>
          <table>
           <tr>
            <td>
            <fieldset><legend><font  size=3>Computadores</font></legend>
             <table>
             <tr>
               <td align="left"><b>Quantidade</b></td>
               <td align="left"><%= f.text_field :num_comp, :size => 4 %>
               </td>
            </tr>
            <tr>
              <td align="left" valign="top"><b>Configuração Computadores:</b></td>
               <td align="left"><%= f.text_area(:config_comp, :cols =>30, :rows => "9") %></td>
           </tr>
           <tr>
              <td align="left"><b> Pertence:</b></td>
              <td><%= f.text_field :pertence_comp, :size=>39 %></td>
           </tr>
           <tr>
              <td align="left"><b> Contato:</b></td>
              <td><%= f.text_field :contato_comp, :size=>39 %></td>
           </tr>
           </table>
          </fieldset>
         </td>
         </tr>
         <tr>
          <td>
            <fieldset><legend><font  size=3>Impressoras</font></legend>
             <table>
             <tr>
               <td align="left"><b>Quantidade</b></td>
               <td align="left"><%= f.text_field :num_imp, :size => 4 %>
               </td>
            </tr>
            <tr>
              <td align="left"><b>Configuração Impressoras:</b></td>
              <td><%= f.text_area(:config_imp, :cols =>30, :rows => "4") %></td>
           </tr>
           <tr>
              <td align="left"><b> Pertence:</b></td>
              <td><%= f.text_field :pertence_imp, :size=>39 %></td>
           </tr>
           <tr>
              <td align="left"><b> Contato:</b></td>
              <td><%= f.text_field :contato_imp, :size=>39 %></td>
           </tr>
           </table>
          </fieldset>
          </td>

        </table>
        </fieldset>
    </td>
     </table>
    </td>
   </tr>
  </table>
 </font>
 </fieldset>

<table  width="100%" align="center">
  <tr>
      <td align="left" width="6%">
        <font size="4" color="red">
        <div id='Certeza'>
          <%= f.submit "salvar" %>
        </div>
        </font>
      </td>
      <%end%>
     <td align="left" ><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
   </tr>
</table>

