<br/>
 <table  align="center" width="100%">
  <td>
  <fieldset><legend><font  size=5> EQUIPAMENTO CADASTRADOS LABORATÓRIOS</font></legend>
   <br/>
   <div class="botao">
   <table width="100%">
    <tr>
     <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
        <td align="left" width="8%"><%= button_to 'Cadastrar', new_laboratorio_path %></td>
     <%end%>
     <td align="left" width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
     <td align="left" width="8%"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
      <td align="right">
       <div class="botao">
         <table>
        <tr>
        <% form_tag laboratorios_path, :method => 'get' do %>
        <td align="right"><font size="4"> Digite Unidade:</font>
           <%= text_field_tag :search, params[:search] %>
           <%= submit_tag "Filtrar", :nome => nil %>
        </td>
        <% end %>
        </tr>
     </table>
     </div>
     </td>
     </tr>
  </table>
  <br/>
  </div>
    <font  size="2">
    <table border="2" width="100%">
      <tr>
        <th bgcolor="gray">Unidade</th>
        <th bgcolor="gray">Nº Comp</th>
        <th bgcolor="gray">Config Comp</th>
        <th bgcolor="gray">Nº Impr</th>
        <th bgcolor="gray">Config Imp</th>
        <th bgcolor="gray">Servidor</th>
        <th bgcolor="gray">rede</th>
        <th bgcolor="gray">Internet</th>
        <th bgcolor="gray">Observações</th>
  </tr>

     <% for laboratorios in @laboratorios %>
     <tr>
        <td><%=h laboratorios.unidade.nome %></td>
        <td><%=h laboratorios.num_comp %></td>
        <td><%=h laboratorios.config_comp %></td>
        <td><%=h laboratorios.num_imp %></td>
        <td><%=h laboratorios.config_imp %></td>
        <td><%=h laboratorios.servidor %></td>
        <td><%=h laboratorios.rede %></td>
        <td><%=h laboratorios.internet %></td>
        <td><%=h laboratorios.obs %></td>
    </tr>
    <tr>
      <td colspan="12">
        <div class="botao">
        <table>
           <td><%= button_to('Exibir',{:action => "show", :id =>laboratorios}, :method => "get") %></td>
           <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
               <td> <%= button_to('Editar',{:action => "edit", :id =>laboratorios}, :method => "get") %></td>
               <td><%= button_to('Excluir',{:action => "destroy", :id =>laboratorios}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
           <%end%>
        </table>
        </div>
       </td>
    </tr>
    <% end %>
   </table>
   </font>
  </fieldset>
  </table>
  <div class="botao">
   <table width="100%">
    <tr>
      <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
          <td width="8%"><%= button_to 'Cadastrar', new_laboratorio_path %></td>
      <%end%>
      <td width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
      <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
      <% if  $var == 0 then %>
         <tr><td align="left" colspan="4"><%= will_paginate @laboratorios %></td></tr>
      <%end%>
    </tr>
  </table>
  </div>



  