<br/>
<fieldset><legend><font  size=5> EQUIPAMENTOS LABORATÓRIOS</font></legend>
<font  size="2">
 <table width="100%">
  <tr>
   <td>
     <table>
     <% form_for(@laboratorios) do |f| %>
     <%= f.error_messages %>
        <tr>
           <td  width="20%"align="left"><b>Unidade:</b></td>
           <td align="left" width="10%"><%= f.collection_select :unidade_id, @unidades, :id, :nome, :include_blank => ' -- Selecione -- ' %>
              <%= observe_field 'laboratorio_unidade_id',
              :with => :laboratorio_unidade_id,
              :url => { :action => 'nome_unidade' } %></td>
           <td align="left"><div id='unidade_nome'></div><div id='nome_aviso'></div></td>
         </tr>

         <tr>
           <td align="left"><b>Quantidade</b></td>
           <td colspan="2" align="left"><b>Computadores:</b><%= f.text_field :num_comp, :size => 3 %>
              <font size="0.2">.....</font>
              <b>Impressoras:</b><%= f.text_field :num_imp, :size => 3 %></td>
         </tr>
         <tr>
           <td valign="top"align="left"><b>Configurações Computadores:</b></td>
           <td colspan="2" align="left"><%= f.text_area(:config_comp, :cols =>"38", :rows => "14") %></td>
         </tr>

        </table>
      </td>
      <td valign="top">
        <table>
         <tr>
           <td width="20%"align="left"><b>Servidor:</b></td>
           <td align="left"><%= f.text_field :servidor, :size => 50 %></td>
         </tr>
         <tr>
           <td align="left"><b>Rede:</b></td>
           <td align="left"><%= f.text_field :rede, :size => 50 %></td>
         </tr>
         <tr>
           <td align="left"><b>Internet:</b></td>
           <td align="left"><%= f.text_field :internet, :size => 50 %></td>
         </tr>
         <tr>
           <td valign="top" align="left"><b>Configurações Impressoras:</b></td>
           <td align="left"><%= f.text_area(:config_imp, :cols =>"38", :rows => "5") %></td>
         </tr>
         <tr>
           <td valign="top" align="left"><b>Observações:</b></td>
           <td align="left"><%= f.text_area(:obs, :cols =>"38", :rows => "5") %></td>
         </tr>
       </table>
      </td>
    </tr>
  </table>
 </font>
</fieldset>

  <table  width="100%" align="center">
  <tr>
      <td align="left" width="6%">
        <font size="4" color="red">
        <div id='Certeza'>
          <%= f.submit "Salvar" %>
        </div>
        </font>
      </td>
      <%end%>
     <td align="left" ><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
   </tr>
</table>


