<br/>
 <table  align="center" width="60%">
  <td>
  <fieldset><legend><font  size=5> LABORATÓRIOS</font></legend>
  <font  size="2">
   <p align="left">
      <b>Unidade:</b>
      <%=h @laboratorios.unidade.nome%>
   </p>

    <p align="left">
      <b>Quantidades - </b>
      <b>Computadores </b>
       <%=h @laboratorios.num_comp %>
       <b>Impressoras</b>
       <%=h @laboratorios.num_imp %>
   </p>
   <p align="left">
      <b>Configiguração Computadores:</b>
      <%=h @laboratorios.config_comp %>
   </p>
   <p align="left">
     <b>Configuração Impressoras:</b>
     <%=h @laboratorios.config_imp %>
   </p>
    <p align="left">
       <b>Servirdor:</b>
       <%=h @laboratorios.servidor %>
    </p>
    <p align="left">
       <b>Internet:</b>
       <%=h @laboratorios.internet %>
    </p>
    <p align="left">
     <b>Observações:</b>
     <%=h @laboratorios.obs %>
   </p>
  </font>
 </fieldset>
 </td>
 </table>



 <div class="botao">
   <table width="60%" align="center">
    <tr>
     <td align="left" width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"} %></td>
     <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
       <td align="left" width="8%"> <%= button_to('Editar', {:action => "edit", :id => @laboratorios}, :method => "get") %></td>
       <td align="left" width="8%"> <%= button_to 'Cadastrar', new_laboratorio_path %></td>
     <%end%>
     <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
    </tr>
  </table>
</div>

    
