<br/>
 <table  align="center" width="100%">
  <td>
  <fieldset><legend><font  size=5> EX-ESTAGIÁRIOS</font></legend>
   <br/>
   <div class="botao">
   <table width="100%">
    <tr>
     <td width="8%" align="left"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
      <td width="8%" align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
      <td align="right">
       <div class="botao">
       <table>
        <tr>
        <% form_tag baixas_path, :method => 'get' do %>
        <td align="right"><font size="4"> Digite nome:</font>
           <%= text_field_tag :search , params[:search] %>
           <%= submit_tag "Filtrar", :nome => nil %>
        </td>
        <% end %>
        </tr>
       </table>
     </div>
     </td>
   </tr>
  </table>
  <br/>
  </div>
    <font  size="2">
    <table border="2" width="100%">

     <% for estagiarios in @baixas %>
    
     <tr>
       <th bgcolor="gray">Nome</th>
       <th bgcolor="gray">Celular</th>
       <th bgcolor="gray">Unidade</th>
       <th bgcolor="gray">Período</th>
       <th bgcolor="gray">Admissão</th>
       <th bgcolor="gray">Demissão</th>
    </tr>
    <tr>
       <td><%=h estagiarios.nome %></td>
       <td><%=h estagiarios.cel %></td>
       <td><%=h estagiarios.unidade.nome %></td>
       <td><%=h estagiarios.periodo_trab %></td>
       <td><%=h estagiarios.data_admissao.strftime("%d/%m/%Y")  %></td>
          <% if estagiarios.data_desliga.nil? then %>
            <td><%=h estagiarios.data_desliga("%d/%m/ %Y")  %></td>
          <%else%>
            <td><%=h estagiarios.data_desliga.strftime("%d/%m/ %Y")  %></td>
          <%end%>

    </tr>
    <tr>
      <td colspan="12">
        <div class="botao">
        <table>
           <td><%= button_to('Exibir',{:action => "show", :id =>estagiarios}, :method => "get") %></td>
           <% if current_user.has_role?('administrador') %>
             <td> <%= button_to('Editar',{:action => "edit", :id =>estagiarios}, :method => "get") %></td>
             <td><%= button_to('Excluir',{:action => "destroy", :id =>estagiarios}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
           <%end%>
        </table>
        </div>
       </td>
    </tr>


    <% end %>
   </table>
   </font>
  </fieldset>
  </table>
  <div class="botao">
   <table width="100%" align="center">
    <tr>
      <td width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
      <td width="8"align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
   </tr>
  </table>
  </div>
<br/>






